*.class


/node_modules

# SSH Keys

*.pem
*.ppk

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Merge Files
*.bak

#Gradle temporary files
target/

#Eclipse files
**/.project
**/.classpath
**/.settings/
/bin/
blog/bin/
**/.tern-project

#IntelliJ files
**/*.iml
**/.idea
**/.gradle

07_ApiHttpRequests/rest-with-spring-boot-and-java-erudio7/src/main/resources/application.yaml
13_ContentNegotiation/rest-with-spring-boot-and-java-erudio13/src/test/resources/application.yaml



# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*