HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar

# Maven configuration
.mvn/
mvnw
mvnw.cmd

# Spring Boot configuration
src/main/resources/application.yaml
src/main/resources/application*.properties

# STS (Spring Tool Suite)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Logs
*.log
/logs/

# Build Files
*.class
*.jar
*.war
*.ear

# Temporary OS files
*.swp
.DS_Store
Thumbs.db

# IDE-specific files
**/.idea/
**/.vscode/
**/*.iml
**/.settings/
**/.classpath
**/.project

# Node.js
/node_modules

# SSH Keys
*.pem
*.ppk

# Java crash logs
hs_err_pid*
